*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* TYPE Selectors */
html {
  font-family: "Trebuchet MS", sans-serif
}

img {
  display: block;
  height: auto;
  width: 600px;
}